[Desktop Entry]
Name=YangdiskserviceURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/Yangdiskservice;
TryExec=Yangdiskservice
Exec=Yangdiskservice %u
Icon=Yangdiskservice
Terminal=false
Type=Application
StartupNotify=false
