[Desktop Entry]
Name=LiDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/lidesk;
TryExec=lidesk
Exec=lidesk %u
Icon=lidesk
Terminal=false
Type=Application
StartupNotify=false
